venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.env
.env.*
*.sqlite3
.DS_Store
.idea/
*.log
*.db
*.bak
*.swp
*.swo
*.~ 
*.tmp
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache/
*.spec
*.orig
*.ipynb_checkpoints/